/* ============================================================
       HERO
       ============================================================ */

       .trombone-Case {
        opacity: 0;
        transform: translateY(100px);
       }
       .cloud-Back {
        opacity: 0;
        transform: translateY(-200px);
       }
       .cloud-Front {
        opacity: 0;
        transform: translateY(-400px);
       }

/* ============================================================
       SECTION 1
       ============================================================ */

         .bar-Back {
          opacity: 0;
         }
            .bar-Mid {
            opacity: 0;
            }
               .bar-Front {
                opacity: 0;
               }

       .slide {
              transform: translate(35vw, 40vh);
              scale: 0.8;
              opacity: 0;
       }
/* ============================================================
       SECTION 2
       ============================================================ */

         .staff {
              transform: translate(-2vw,42vh);
              scale: .95;
         }

         .staff-Line {
              transform: translateX(-60vw);
              stroke: var(--surface-dark);
         }
         .staff-End {
              transform: scaleY(0);
              transform-origin: top;
              stroke: var(--surface-dark);
         }
            .note {
            opacity: 0;
            transform: translateY(-10vh);
            }
       
       .triangle-Bar {
              scale: 1.2;
              transform: translate(10vw, 4vh);
       }
       .row-Triangle {
              transform: translateY(-12vh);
       }

 /* ============================================================
       SECTION 3
       ============================================================ */

       .curtains {
              transform: scale(0.8) translateX(-40vw);
              opacity: 0;
       }

       .mouthpiece {
              transform: scale(0.7) translate(150vw, 20vh);
       }
 /* ============================================================
       SECTION 4
       ============================================================ */

       .tuningSlide {
              transform: translate(25vw, -40vh);
              opacity: 0;
       }
       .tuningSlide-Outer {
             transform: translateY(-6vh);
       }
       .burst {
              transform: translateY(10vh) scaleY(0.7) scaleX(0);
              opacity: 0;

       }
 /* ============================================================
       SECTION 5
       ============================================================ */

       .fullBone {
              transform: translate(75vw, -20vh) scale(0.8) rotate(10deg);
              transform-origin: right;
       }
       .bottom {
              transform: translateY(50vh) scaleX(10);
       }
       .top {
              transform: rotate(180deg) translate(-57vw, -12vh) scaleX(5);
              opacity: 0;
       }
