/* ============================================================
       HERO
       ============================================================ */

       .trombone-Case {
        opacity: 0;
        transform: translateY(100px);
       }
       .cloud-Back {
        opacity: 0;
        transform: translateY(-100px);
       }
       .cloud-Front {
        opacity: 0;
        transform: translateY(-100px);
       }

/* ============================================================
       SECTION 1
       ============================================================ */

         .bar-Back {
          opacity: 0;
         }
            .bar-Mid {
            opacity: 0;
            }
               .bar-Front {
                opacity: 0;
               }

       .slide {
              transform: translate(35vw, 40vh);
              scale: 0.8;
              opacity: 0;
       }